@{
    string ucakEkleActive = Context.Request.Path == "/AdminHomePage/UcakEkle" ? "active" : "";
    string IndexActive = Context.Request.Path == "/AdminHomePage/Index" ? "active" : "";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/img/favicon.png"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&family=Poppins:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="~/css/plugins.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
     <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
<!-- Preloader -->

<!-- Progress scroll totop -->
<div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar2" >
    <div class="container">
        <!-- Logo -->
        <div class="logo-wrapper">
            <a class="logo" href="anasayfa.html"> <img src="~/img/logo-light.png" class="logo-img" alt=""> </a>
            <!-- <a class="logo" href="anasayfa.html"> <h2>TRAVOL <span>explore the world</span></h2> </a> -->
        </div>
        <!-- Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"><i class="ti-menu"></i></span></button>
        <!-- Menu -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">


                <li class="nav-item"><a class="nav-link @ucakEkleActive " asp-controller="Ucak" asp-action="UcakEkle">Sefer ekle</a></li>
                <li class="nav-item"><a class="nav-link @IndexActive " asp-controller="AdminHomePage" asp-action="Index" >Users</a></li>
                <li class="nav-item"><a class="nav-link @IndexActive " asp-controller="Ucak" asp-action="SeferDuzenle" >Sefer Düzenle</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header Banner -->
<div class="banner-header section-padding back-position-center valign bg-img bg-img2 bg-fixed" data-overlay-dark="4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 caption mt-90">
                <h1>@ViewData["panel"] <span>Paneli</span></h1>
            </div>
        </div>
    </div>
</div>


    @RenderBody()

<!-- Footer -->

<!-- jQuery -->
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="js/jquery-3.6.3.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/jquery.isotope.v3.0.2.js"></script>
    <script src="js/pace.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scrollIt.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/YouTubePopUp.js"></script>
    <script src="js/select2.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/smooth-scroll.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
