@model WebApplication15.Models.AddUserViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>
  <div class="wrapper">
  <form asp-action="Add" asp-controller="Login" method="post">
  <h1>Register</h1>
  <div class="input-box">
    <input asp-for="UserName" type="text" placeholder="Username" required>
    <i class='bx bxs-user'></i>
  </div>
   <div class="input-box">
    <input asp-for="Name" type="text" placeholder="name" required>
    <i class='bx bxs-user'></i>
  </div>
   <div class="input-box">
    <input asp-for="UserSurname" type="text" placeholder="UserSurname" required>
    <i class='bx bxs-user'></i>
  </div>
  <div class="input-box">
    <input asp-for="PassWord" type="password" placeholder="Password" required>
    <i class='bx bxs-lock-alt' ></i>
  </div>
   <div class="input-box">
    <input asp-for="ConfirmPassWord" type="password" placeholder="Password again" required>
    <i class='bx bxs-lock-alt' ></i>
  </div>
            @if (!string.IsNullOrEmpty(ViewData["Error"] as string))
            {
                    <p class="error">@ViewData["Error"]</p>
            }
  <button type="submit" class="btn">Register</button>
</form>
  </div>
</body>
</html>